<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link   type="text/css" rel="stylesheet" href="static/report.css"/>
    <!-- jQuery gubbins -->
    <link   href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.js"></script>
    <link   href="static/ui.dynatree.css" rel="stylesheet" type="text/css"/>
    <link   href="static/jquery.jqplot.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="static/jquery.dynatree.js" type="text/javascript"></script>
    <script type="text/javascript" src="static/jquery.jqote2.js"></script>
    <script type="text/javascript" src="static/jquery.dataTables.js"></script>
    <script type="text/javascript" src="static/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="static/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="static/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="static/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="static/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="static/underscore.js"></script>
    <script type="text/javascript" src="static/oboe.js"></script>
    <script type="text/javascript" src="static/moment.js"></script>
    <script type="text/javascript" src="static/report.js"></script>
    <script type="text/javascript" src="static/coverage.js"></script>
    <script type="text/javascript">
      moment.lang('en-gb');
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        $report.tabs({
          spinner : function() {},
          ajaxOptions : {
            cache      : false,
            dataType   : 'html', // it will be html in the end
            dataFilter : function(data) {
              return (new $report.testJSON(this.url.split('?')[0], $.parseJSON(data))).render();
            },
            error : function(xhr, status, index, anchor) {
              console.log(xhr, status, index);
            }
         },
         panelTemplate: '<div class="tab"></div>'
        });
        $report.formatTabs($report.tabs());
        $('span.ui-icon-refresh', $report.tabs()).css('float', 'right');
      });
    </script>
    <script type="text/html" id="matrix-template">
      <div class="table">
        <table class="report" style="width : auto; margin-left : auto; margin-right : auto">
          <tr>
            <th class="title" colspan="2" rowspan="2"/>
            <th class="title" colspan="<%= this.x_axis.values.length %>"><%= this.x_axis.name %></th>
          </tr>
          <tr><% var cnt = 0; for (var a1=0; a1<this.x_axis.values.length; a1++) { %>
            <th><%= this.x_axis.values[a1] %></th>
          <% } %></tr>
          <% for (var a0=0; a0<this.y_axis.values.length; a0++) { %>
          <tr><th><%= this.y_axis.values[a0] %></th>
            <% for (var a1=0; a1<this.x_axis.values.length; a1++) {
                 var bkt=this.buckets[cnt];
            %>
            <td class="hits <%= $coverage.coverageTable.classFromBucket(bkt) %>" bkt="<%= cnt %>" title="goal = <%= bkt[0] %>"><div id="hits"><%= bkt[1] %></div></td>
            <%   cnt+=1;
               } %>
          </tr>
          <% } %>
       </table>
      </div>
    </script>
    <script type="text/html" id="template-axis-table">
      <a class="popup onhover"><%= this.axes.length %>
      <span>
      <table class="report axis">
        <thead>
          <tr>
            <th>Name</th><th>Length</th><th>Values</th>
          </tr>
        </thead>
        <tbody>
            <% for (var n=0; n<this.axes.length; n++) {
               var axis=this.axes[n];
            %>
          <tr><td><%= axis.name %></td><td><%= axis.values.length %></td><td><%= axis.values %></td></tr>
            <%
               }
            %>
        </tbody>
      </table>
      </span>
      </a>
    </script>
    <script type="text/html" id="menu">
      <ul class="popup">
        <li id="ident"><a href="#"><span class="uncheck ui-icon ui-icon-check"></span>View Ident</a></li>
        <li id="time"><a href="#">View Time</a>
          <ul>
            <li id="hide"><a href="#"><span class="        ui-icon ui-icon-check"></span>Hide</a></li>
            <li id="rel" ><a href="#"><span class="uncheck ui-icon ui-icon-check"></span>Relative</a></li>
            <li id="abs" ><a href="#"><span class="uncheck ui-icon ui-icon-check"></span>Absolute</a></li>
          </ul>
        </li>
      </ul>
    </script>
    <script type="text/html" id="cvg-point-menu">
      <ul class="popup">
        <li id="select"><a href="#" title="Select this column"><span class="ui-icon ui-icon-check"></span>Select</a></li>
        <li id="unselect"><a href="#" title="Unselect this column"><span class="ui-icon ui-icon-check"></span>Unselect</a></li>
        <li id="hide"><a href="#" title="Hide selected columns"><span class="ui-icon"></span>Hide</a></li>
        <li id="hide-only"><a href="#" title="Hide only this column"><span class="ui-icon"></span>Hide Only</a></li>
        <li id="hide-others"><a href="#" title="Hide all other columns"><span class="ui-icon"></span>Hide Others</a></li>
        <li>&nbsp;</li>
        <li id="select-all"><a href="#" title="Select all columns"><span class="ui-icon"></span>Select All</a></li>
        <li id="select-others"><a href="#" title="Select other columns"><span class="ui-icon"></span>Select Others</a></li>
        <li id="unselect-all"><a href="#" title="Unselect all columns"><span class="ui-icon"></span>Unselect All</a></li>
        <li id="invert"><a href="#" title="Invert column selection"><span class="ui-icon"></span>Invert Selection</a></li>
        <li>&nbsp;</li>
        <li id="hide-selected"><a href="#" title="Hide selected columns"><span class="ui-icon"></span>Hide Selected</a></li>
        <li id="unhide-all"><a href="#" title="Reset - Show all columns"><span class="ui-icon"></span>Unhide All</a></li>
        <li>&nbsp;</li>
        <li id="sort-up"><a href="#" title="Sort column by row values ascending"><span class="ui-icon"></span>Sort Ascending</a></li>
        <li id="sort-down"><a href="#" title="Sort column by row values descending"><span class="ui-icon"></span>Sort Descending</a></li>
        <li>&nbsp;</li>
        <li id="hide-hits"><a href="#" title="Show/hide rows marked as hit"><span class="ui-icon ui-icon-check"></span>Hide Hits</a></li>
        <li id="hide-dontcare"><a href="#" title="Show/hide rows marked don't care"><span class="ui-icon ui-icon-check"></span>Hide Don't Cares</a></li>
        <li id="hide-illegal"><a href="#" title="Show/hide rows marked illegal"><span class="ui-icon ui-icon-check"></span>Hide Illegals</a></li>
        <li id="hide-both"><a href="#" title="Show/hide rows marked illegal or don't care"><span class="ui-icon ui-icon-check"></span>Hide Both</a></li>
        <li>&nbsp;</li>
        <li id="matrix"><a href="#" title="View 2 axis tables as a matrix"><span class="ui-icon ui-icon-check"></span>Matrix</a></li>
        <li id="graph"><a href="#" title="View 1 axis tables as a graph"><span class="ui-icon ui-icon-check"></span>Graph</a></li>
        <li>&nbsp;</li>
        <li id="heat"><a href="#" title="Annotate hits by test class"><span class="ui-icon ui-icon-check"></span>Heat Map</a></li>
      </ul>
   </script>
 </head>
  <body>
    <div id="report">
      <ul>
        <li><a href="index/all">All Tests</a><span class="ui-icon ui-icon-refresh">refresh</span></li>
        <li><a href="index/rgr">Regressions</a><span class="ui-icon ui-icon-refresh">refresh</span></li>
        <li><a href="index/sngl">Singletons</a><span class="ui-icon ui-icon-refresh">refresh</span></li>
      </ul>
    </div>
  </body>
</html>

