<html>
  <head>
    <link   type="text/css" rel="stylesheet" href="static/report.css"/>
    <!-- jQuery gubbins -->
    <link  href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.js"></script>
    <link  href="static/ui.dynatree.css" rel="stylesheet" type="text/css"/>
    <script src="static/jquery.dynatree.js" type="text/javascript"></script>
    <script src="https://raw.github.com/aefxx/jQote2/master/jquery.jqote2.js"></script>
    <script src="static/jquery.dataTables.js"></script>
    <script type="text/javascript" src="static/report.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $report.tabs({
          ajaxOptions : {
            cache      : false,
            dataType   : 'html', // it will be html in the end
            dataFilter : function(data) {return (new $report.testJSON($.parseJSON(data))).render()},
            error : function(xhr, status, index, anchor) {
              console.log(xhr, status, index);
            }
         },
        });
        $report.formatTabs($report.tabs());
      });
    </script>
    <script type="text/html" id="template">
        <%
    var date = new Date(this.date*1000);
    var id = this.ident?(this.ident+'-'+this.subident):'';
        %>
      <![CDATA[
        <a class="popup">
          <code class="<%= this.severity %>" level="<%= this.level %>">(<%= $report.openLog.justify(this.severity) %><time class="abs"> <%= date.toLocaleTimeString() %></time><time class="rel"> <%= $report.openLog.justify(parseInt(this.seconds).toString(), 6) %></time><ident><%= $report.openLog.justify(id, 10) %></ident>) <%= $report.openLog.msg(this.msg) %></code>
          <span title="x">
            <% if (this.ident) out += '<p class="id">'+id+'</p>'; %>
            <p class="date"><%= date.toGMTString() %></p>
            <% if (this.filename) out += '<p class="file">'+this.filename+':'+this.line+'</p>'; %>
          </span>
        </a>
      ]]>
    </script>
    <script type="text/html" id="menu">
      <ul class="popup">
        <li id="ident"><a href="#"><span class="uncheck ui-icon ui-icon-check"></span>View Ident</a></li>
        <li id="time"><a href="#">View Time</a>
          <ul>
            <li id="hide"><a href="#"><span class="        ui-icon ui-icon-check"></span>Hide</a></li>
            <li id="rel" ><a href="#"><span class="uncheck ui-icon ui-icon-check"></span>Relative</a></li>
            <li id="abs" ><a href="#"><span class="uncheck ui-icon ui-icon-check"></span>Absolute</a></li>
          </ul>
        </li>
      </ul>
   </script>
 </head>
  <body>
    <div id="report">
      <ul>
        <li><a href="index/all"><span>All Tests</span></a><a href="#" class="icon"><span class="ui-icon ui-icon-refresh"></span></a></li>
        <li><a href="index/rgr"><span>Regressions</span></a><a href="#" class="icon"><span class="ui-icon ui-icon-refresh"></span></a></li>
        <li><a href="index/sngl"><span>Singletons</span></a><a href="#" class="icon"><span class="ui-icon ui-icon-refresh"></span></a></li>
      </ul>
    </div>
  </body>
</html>

